.text-field {
    -fx-background-color : rgb(30,30, 30);
    -fx-border-radius : 0.5em;
    -fx-background-radius : 0.5em;
    -fx-insets : 5 5 5 5;
    -fx-font-size : 20;
    -fx-border-width : 2;
    -fx-border-color : rgb(0, 0, 150);
    -fx-border-bottom-color : rgb(0, 0, 250);
    -fx-border-bottom-width : 4;
    -fx-text-fill : white;}

.slider {
    -fx-text-fill : white;}

.slider .track {
        -fx-background-color : rgb(250, 70, 7);
        -fx-border-radius : 1px;
        -fx-width : 1px;
        -fx-height : 2px;
        -fx-border-color : rgb(250, 70, 7);}

.slider .thumb {
        -fx-background-color : rgb(250, 70, 7);
        -fx-border-color : rgb(250, 70, 7);
        -fx-border-width : 1px;
        -fx-border-radius : 2em;
        -fx-width : 5px;
        -fx-height : 15px;}

.slider .thumb:hover {
    -fx-background-color  : rgb(200, 50, 0);}

.label {
        -fx-color : white;
        -fx-font-size : 22;}
